name: Todo App CI/CD Pipeline

on:
  push:
    branches: [main]

permissions:
  contents: read
  id-token: write

env:
  workload_identity_provider: projects/676646421279/locations/global/workloadIdentityPools/github-actions/providers/github
  service_account: cicd-todo-service@todo-ci-cd.iam.gserviceaccount.com

jobs:
  # build:
  #   name: Build phase
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 20
  #         cache: "npm"

  #     - name: Install dependencies
  #       run: npm install

  #     - name: Build the application
  #       run: npm run build

  #     - name: Upload build artifacts
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: build-files
  #         path: dist/
  #         retention-days: 1

  # test:
  #   name: Test phase
  #   runs-on: ubuntu-latest
  #   needs: build

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 20
  #         cache: "npm"

  #     - name: Install dependencies
  #       run: npm install

  #     - name: Run tests
  #       run: npm test

  deploy:
    name: Deploy phase
    runs-on: ubuntu-latest
    needs: [build, test]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-files
          path: dist/

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v2"
        with:
          create_credentials_file: true
          workload_identity_provider: ${{ env.workload_identity_provider }}
          service_account: ${{ env.service_account }}
          audience: https://github.com/gusutaharu

      - name: Install dependencies
        run: npm install

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          projectId: todo-ci-cd
          channelId: live

      - name: Remove private key
        if: always()
        run: rm -f $HOME/private-key.json
